{% extends 'base.html' %}

{% block title %} Create Retailer {% endblock title%}

{% block body%}
<div class ="container-fluid  m-2  p-5" >
<div class="mb-3 " >
    <label for="exampleFormControlInput1" class="form-label" >Name</label>
    <input type="email" class="form-control" id="exampleFormControlInput1"  placeholder="Name">
  </div>
  <div class="mb-3 " >
    <label for="exampleFormControlInput1" class="form-label" >User-Id</label>
    <input type="email" class="form-control" id="exampleFormControlInput1"  placeholder="User Id">
  </div>
  <div class="mb-3 " >
    <label for="exampleFormControlInput1" class="form-label" >Password</label>
    <input type="email" class="form-control" id="exampleFormControlInput1"  placeholder="Enter ">
  </div>
  <div class="mb-3 " >
    <label for="exampleFormControlInput1" class="form-label" >E-mail</label>
    <input type="email" class="form-control" id="exampleFormControlInput1"  placeholder="name@example.com">
  </div>
  <div class="mb-3 " >
    <label for="exampleFormControlInput1" class="form-label" >Contact No</label>
    <input type="email" class="form-control" id="exampleFormControlInput1"  placeholder="Contact No">
  </div>
  <div class="mb-3 " >
    <label for="exampleFormControlInput1" class="form-label" >City</label>
    <input type="email" class="form-control" id="exampleFormControlInput1"  placeholder="City">
  </div>
  <div class="mb-3 " >
    <label for="exampleFormControlInput1" class="form-label" >State</label>
    <input type="email" class="form-control" id="exampleFormControlInput1"  placeholder="Enter State">
  </div>
  <div class="mb-3 " >
    <label for="exampleFormControlInput1" class="form-label" >Pin Code</label>
    <input type="email" class="form-control" id="exampleFormControlInput1"  placeholder="226024">
  </div>
  <div class="mb-3 " >
    <label for="exampleFormControlInput1" class="form-label" >Pan Card</label>
    <input type="email" class="form-control" id="exampleFormControlInput1"  placeholder="Pan Card">
  </div>
  <div class="mb-3 " >
    <label for="exampleFormControlInput1" class="form-label" >Margin</label>
    <input type="email" class="form-control" id="exampleFormControlInput1"  placeholder="Enter Margin ">
  </div>
  <button type="button" class="btn btn-secondary">Success</button>
  {% comment %} <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div> {% endcomment %}
</div>
 {% endblock body %}